

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-family: '';
} */


.ss1 {
    background-color: #3A5795;
}

.ss2{
    background-color: #DFE3EF;
}



.email, .password{
    color: white;
    
}

.dtlogin, .fgpass{
    color: #8193B3;
}

.dk{
    background-color: #609C4D;
    color: white;
    width: 30%;
    margin: 1%;
    border-radius: 4px;
}

    .inline{
        display: inline-block;
        padding: 1px;
    }

/* .inline label{ display: inline-block;
    width: 190px;
} */

main {
    border: 1px solid white ;
    width: 30%;
    position: relative;
    left: 35%;
    
    
}
h1{
    margin: 0;
}

.info{
    margin: 1%;
    
}


p:first-child i{
    background: #3A5795;
}

#info1, #info2, #info3{
    width: 75%;
}

.login{
    color: white;
    background-color: #5D76AA;
}